{#
/**
 * @file
 * Default theme implementation for displaying the tint.
 *
 * Available variables:
 * - data_infinitescroll: Tint infinitescroll
 * - data_id: Tint data id
 * - data_expand: Tint Display property
 * - personalization_id: Tint 
 * - columns: Tint display columns
 * - clickformore: Tint load more button
 *
 * @ingroup themeable
 */
#}
{# Attributes require for rendering TINT social media Feeds. #}
<div class="col-sm-12">
  {# Data attributes and rendering settings for feeds. #}
  <div class="tintup"
    data-id="{{ data_id }}"
    data-expand="{{ data_expand }}"
    data-infinitescroll="{{ data_infinitescroll }}"
    data-personalization-id="{{ personalization_id }}"
    data-columns="{{ columns }}"
    data-clickformore="{{ clickformore }}"
    style="width:100%;">
  </div>
</div>
